html{
    font-size: 16px;
}
body{
    font-family: SlateForOnePlusLight,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #333;
}
/*内容*/
.main-content{
    margin-bottom: 100px;
}
/*广告*/
.top-banner{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.top-banner .bg-container .yj-visible-xs{
    display: none;
}
.top-banner .bg-container img{
    width: 100%;
}
.top-banner .specs-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding-top: 13%;
    padding-left: 30px;
    padding-right: 30px;
}
.top-banner .container-text{
    max-width: 1200px;
    min-width: 300px;
}
.top-banner .container-text .specs-phone{
    color: #fff;
    width: 100%;
}
.top-banner .container-text .title{
    font-size: 60px;
    padding-bottom: 60px;
}
.specs-info .specs-phone .yj-ul{
    width: 50%;
}
.container-text .item{
    padding-bottom: 40px;
}
.container-text .item .sub-title{
    font-size: 24px;
}
.container-text .item .text{
    font-size: 20px;
}
.top-banner::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 0;
    width: 100%;
    border-left: 0 solid transparent;
    border-top: 7vw solid transparent;
    border-right: 100vw solid #fff;
    border-bottom: 0 solid transparent;
    outline: 1px solid transparent;
    padding-bottom: 10px;
    z-index: 2;
    transition: border-top .3s ease;

}
/*基本参数*/
.details-container .details-content{
    margin: 0 20px;
}
.details-content .content{
    max-width: 1200px;
    margin: 0 auto;
}
.details-content .content h2{
    /*rem:px/浏览器默认字号，一般为16
    5rem:16*5=80px
    */
    padding: 5rem 0;
    cursor: pointer;
    margin: 0;
    line-height: 1.2;
}
.details-content .content h2 i{
    width: 14px;
    height: 14px;
    margin-top: 7px;
    background:  url(../img/add.png) 0 0 no-repeat;
    background-size: 100%;
    float: right;
    display: none;
}
.details-content .content .item-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.details-content .content .item-box .ant2{
    width: 45%;
    padding-bottom: 5rem;
    font-weight: 300;
}
.details-content .content .item-box .ant2 h3{
    margin-top: 0;
    margin-bottom:1rem;
    font-size: 20px;
    color: #333;
    line-height: 1.2;
}
.details-content .content .item-box .ant2 p{
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 32px;
}
.details-content .content .item-box .ant2 p:nth-last-child(1){
    margin: 0;
}

/*基本参数*/


/*******置顶类样式********/
.set_top {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 3;
}
/*******置顶类样式********/


/*内容*/
@media screen and (max-width:1067px ) {
    .top-banner .specs-info{
        padding: 10% 35px 0 ;
    }
    .container-text .specs-phone .title{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .container-text .item{
        padding-bottom: 30px;
    }
    .container-text .item .sub-title{
        font-size: 18px;
    }
    .container-text .item .text{
        font-size: 14px;
    }
}

@media screen and (max-width:735px ) {
    .top-banner{
        padding-top: 270px;
        background-color: #000;
    }
    .top-banner .bg-container .yj-hidden-xs{
        display: none;
    }
    .top-banner .bg-container .yj-visible-xs{
        display: block;
    }
    .top-banner .specs-info{
        padding: 10% 20px 0 ;
    }
    .specs-info .specs-phone .yj-ul{
        width: 100%;
    }
    .flex-xs{
        display: flex;
        flex: 1;
    }
    .container-text .item{
        flex: 1;
        padding-bottom: 20px;
    }

    .details-content .content .item-box{
        display: none;
    }
    .details-content .content .item-box{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .details-content .content .item-box .ant2{
        width: 100%;
    }
    .details-content .content h2{
        font-size: 24px;
    }
    .details-content .content h2 i{
        display: block;
    }
    .details-content .content .item-box .ant2 h3{
        font-size: 18px;
    }
    .details-content .content .item-box .ant2 p{
        font-size: 18px;
        line-height: 30px;
        word-break: break-word;
    }
}

@media screen and (max-width: 550px){
    .container-text .item .sub-title{
        font-size: 16px;
    }
}

