html, body {
    position: relative;
    height: 100%;
}
.top-btn{
    position: fixed;
    left: 92%; top: 80%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 25px;
    background: #fff url(../img/top.png) center no-repeat;
    display: none;
}
/*头部*/
header{
    display: flex;
    flex-flow: row nowrap;
    font-size: 14px;
    color: #828282;
    border-bottom: 1px solid lightgray;
    transition: all .5s;
}
header a{
    color: #828282;
}
header .ic-yijia{
    font-size: 2rem;
}
header .container-fluid span{
    font-weight: 600;
    font-size: 1.2rem;
    color: #828282;
}
.full-screen{
    line-height: 350%;
    background-color: #fff;
}
.header__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.header__right>li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color .5s;
}
.account-detail, .shopping-detail{
    position: absolute;
    z-index: 2;
    left: -200px; top: 48px;
    width: 320px;
    line-height: 300%;
    padding: 40%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    list-style: none;
    display: none;
}
.account-detail li{
    border-bottom: 1px solid lightgray;
}
/*欢迎*/
.welcome{
    height: 750px;
    padding-top: .1px;
    background: url(../img/welcome.jpg) center;
}
.welcome__box{
    margin-top: 7%;
}
.welcome__h1{
    font-size: 48px;
    font-weight: 400;
}
.welcome__p{
    font-size: 30px;
    font-weight: 300;
}
.welcome__search{
    height: 50px;
    text-indent: 6%;
    border: none;
    outline: initial;
}
.own-search{
    position: absolute;
    z-index: 1;
    margin: 11px 0 0 20px;
    font-size: 1.2rem;
    color: #101920;
}
/*常用服务*/
.commonly{
    padding-bottom: 6%;
    background-color:#f6f6f6;
}
.commonly__box{
    max-width: 1210px;
    padding-top: .1px;
}
.commonly__h2{
    margin: 6% 0;
    font-size: 36px;
    font-weight: 400;
}
.commonly__box div{
    width: 23%;
    padding: 17% 3% 3%;
    background-color: #fff;
    transition: all .5s ease-in-out;
}
.commonly__box div:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}
.commonly h3{
    line-height: 200%;
    font-size: 20px;
    font-weight: 400;
}
.commonly p{
    font-size: 14px;
}
.support{
    background: url(../img/icon-home-help.png) center 25%/auto no-repeat;
}
.help{
    background: url(../img/icon-home-car.png) center 25%/auto no-repeat;
}
.breakdown{
    background: url(../img/icon-home-care.png) center 25%/auto no-repeat;
}
.send{
    background: url(../img/icon-home-service.png) center 25%/auto no-repeat;
}
.center{
    background: url(../img/icon-home-shop.png) center 25%/auto no-repeat;
}
.repair{
    background: url(../img/icon-home-price.png) center 25%/auto no-repeat;
}
.system{
    background: url(../img/icon-home-update.png) center 25%/auto no-repeat;
}
.guarantee{
    background: url(../img/icon-home-security.png) center 25%/auto no-repeat;
}
/*热门主题*/
.hot-theme__box{
    max-width: 1210px;
    padding-top: .1px;
}
.hot-theme section{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 8%;
}
.hot-theme__h2{
    margin: 6% 0;
    font-size: 36px;
    font-weight: 400;
}
.hot-theme__a-wrap{
    margin-right: 7%;
}
.hot-theme img{
    width: 586px;
}
.hot-theme p{
    margin-top: 7%;
}
.section__right{
    height: 100%;
}
.hot-theme h3{
    font-size: 36px;
    font-weight: 400;
}
.hot-theme .check-detail{
    position: absolute;
    top: 85%;
    font-size: 16px;
    color: #09c;
}
/*发现更多*/
.find-more{
    padding: 5% 0 7%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.find-more__box{
    max-width: 1210px;
}
.find-more__right{
    margin-left: 5%;
}
.find-more__h2{
    line-height: 175%;
    font-size: 36px;
    font-weight: 400;
}
.find-more p{
    line-height: 200%;
    margin: 0;
}
.find-more a{
    font-size: 16px;
    color: #09c;
}
/*联系我们*/
.contact{
    padding: 5% 0 7%;
    border-top: 1px solid rgba(0,0,0,.1);
}
.contact__box{
    max-width: 1210px;
}
.contact__right{
    margin-left: 5%;
}
.contact__h2{
    line-height: 175%;
    font-size: 36px;
    font-weight: 400;
}
.online-btn{
    height: 40px;
    padding: 1% 6%;
    margin: 4% 0 2%;
    border-radius: 0;
}
.contact h3{
    line-height: 175%;
    font-size: 30px;
    font-weight: 400;
}
.contact p{
    line-height: 200%;
    margin: 0;
}
.contact a{
    font-size: 16px;
    color: #09c;
}
.contact span{
    line-height: 150%;
    font-size: 16px;
    color: #666;
}
/*底部*/
footer{
    line-height: 250%;
    border-top: 1px solid rgba(0,0,0,.1);
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
}
.footer__row{
    max-width: 1200px;
    padding: 2% 0;
    margin: 0 auto;
}
footer dt{
    line-height: 300%;
    font-weight: 300;
}
footer dd{
    padding-left: 5%;
    font-size:14px;
    color: #828282;
    margin-left: -10px;
}
footer dd:hover{
    color: #5b5b5b;
    cursor: pointer;
}
footer .own-ft span{
    float: right;
    color: #101920;
    font-weight: 800;
    font-size: 30px;
}
footer .own-ft .hidden{
    visibility: hidden;
}
footer .own-ft-last{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    color: #828282;
}
.footer__p-phone{
    font-size: 20px;
    color: black;
}
.footer__i{
    width: 30px;
    height: 30px;
    font-size: 24px;
}
.qr-code{
    position: absolute;
    z-index: 1;
    margin: -160px 0 0 -51px;
    width: 120px;
    height: 120px;
    display: none;
}
.footer__i:first-child:hover .qr-code{
    display: block;
}
.bg-own{
    background-color: #f9f9f9;
}
.footer__center, .footer__bottom{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer__center{
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.china{
    width: 31px;
    height: 21px;
    margin-right: 15px;
    vertical-align: middle;
    background: url(../img/country_sprit.png) -3px -127px/auto;
    transform: scale(.7);
}
footer .last-p{
    color: rgba(0,0,0,.1);
    font-size: 12px;
}
.last-p span{
    padding: 0 5%;
    color: #828282;
}
.footer__bottom__left{
    line-height: 100%;
}
.footer__bottom__left .first-p{
    color: #828282;
    font-size: 12px;
}
.police{
    background: url(../img/police.png);
}

@media (max-width: 1199.9px) {
    /*头部*/
    .full-screen{
        position: fixed;
        z-index: 2;
        left: 0; top: 0;
        width: 1210px;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
    }
    .full-screen li{
        padding-left: 30px;
    }
    .full-screen .own-li{
        background-color: #f6f6f6;
    }
    .full-screen .btn-remove{
        position: relative;
        margin-left: -16px;
    }
    .full-screen .own-search{
        position: absolute;
        z-index: 1;
        margin: 1% 0 0 2%;
        font-size: 1.2rem;
        color: #101920;
    }
    /*热门主题*/
    .hot-theme__a-wrap{
        width: 100%;
        margin-right: 7%;
    }
    .hot-theme img{
        width: 100%;
    }
    .hot-theme p{
        margin-top: 3%;
    }
    .section__right{
        width: 100%;
        height: auto;
        padding-bottom: 5%;
        margin-top: 5%;
    }
    .hot-theme h3{
        font-size: 36px;
        font-weight: 400;
    }
    .hot-theme .check-detail{
        top: 95%;
    }
    /*底部*/
    footer.container-fluid{
        padding: 0;
    }
    .own-ft{
        height: 48px;
        border-bottom: 1px solid rgba(0,0,0,.1);
        overflow: hidden;
        transition: all .5s;
    }
    .own-ft-animating{
        height: 250px;
    }
    footer .own-ft-last{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    footer>.container-fluid{
        padding: 0;
    }
    .footer__center{
        flex-flow: column wrap;
        text-align: center;
    }
    .footer__center p{
        border-bottom: 1px solid rgba(0,0,0,.1);
    }
    .last-p span{
        padding: 0 1%;
    }
}
@media (min-width: 1210px){
    .full-screen li{
        text-align: center;
        border-bottom: 2px solid transparent;
        transition: border-bottom-color .5s, color .5s;
    }
    .full-screen li:hover{
        border-bottom: 2px solid #eb0028;
    }
    .full-screen li:hover a{
        color: #eb0028;
        text-decoration: none;
    }
    .header__right>li:hover{
        border-bottom: 2px solid #101920;
    }
    .header__right>li:hover span{
        color: #101920;
        transition: color .5s ;
    }
    .account:hover .account-detail{
        display: block;
    }
    .account-detail a{
        text-decoration: none;
    }
    .shopping:hover .shopping-detail{
        display: block;
    }
}
@media (min-width: 768px){

}
@media (max-width: 768px){
    /*欢迎*/
    .welcome{
        height: 375px;
        background: url(../img/welcome_p.jpg) center/cover;
    }
    .welcome__box{
        margin-top: 7%;
    }
    .welcome__h1{
        font-size: 24px;
        font-weight: 400;
    }
    .welcome__p{
        font-size: 15px;
        font-weight: 300;
    }
    .welcome__search{
        text-indent: 1%;
    }
    .own-search{
        margin: 11px 0 0 565px;
    }
    /*常用服务*/
    .commonly{
        /*padding-bottom: 6%;*/
    }
    .commonly__h2{
        font-size: 24px;
        text-align: left;
    }
    .commonly__box div{
        align-items: flex-start;
        width: 100%;
        padding: 2% 3% 1%;
        border-bottom: solid 1px #dfdfdf ;
        transition: none;
    }
    .commonly__box div:hover{
        box-shadow: none;
        transform: none;
    }
    .commonly h3{
        line-height: 200%;
        font-size: 18px;
        font-weight: 400;
    }
    .commonly p{
        font-size: 14px;
    }
    .support,.help,.breakdown,.send,.center,.repair,.system,.guarantee{
        background-position: 96% center;
        background-size: 6%;
    }

    /*热门主题*/
    .hot-theme__h2{
        font-size: 24px;
    }
    .hot-theme h3{
        font-size: 20px;
    }
    .hot-theme p{
        margin-top: 3%;
        font-size: 14px;
    }
    /*发现更多*/
    .find-more__right{
        margin-left: 0;
    }
    .find-more__h2{
        line-height: 175%;
        font-size: 24px;
    }
    .find-more p{
        font-size: 14px;
    }
    .find-more a{
        line-height: 250%;
        font-size: 14px;
    }
    /*联系我们*/
    .contact__right{
        margin: 5% 0 0 0;
    }
    .contact__h2{
        font-size: 24px;
    }
    .contact h3{
        line-height: 175%;
        font-size: 18px;
    }
    .contact p{
        font-size: 14px;
    }
    .contact a{
        font-size: 16px;
    }
    .contact span{
        line-height: 150%;
        font-size: 14px;
        color: #666;
    }

    .footer__bottom{
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }
}